.sum_main_cont {
    margin-top: 50px;
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sum_ip_box {
    width: 650px;
    height: 450px;
    border: solid 1px #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sum_ip_box h1 {
    color: #00e0ff;
}

.sum_prev {
    margin-top: 2px;
    height: 60%;
    width: 70%;
    border: solid 1px #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sum_ip_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    top: 220px;
    left: 405px;
}

.sum_ip_btn:hover {
    transform: scale(1.2);
}


.spreview img {
    width: 240px;
    height: 240px;
    border-radius: 15px;
    border: solid 2px black;
}

.spreview iframe {
    width: 240px;
    height: 240px;
    border-radius: 15px;
    border: solid 2px black;
}

.sum_sub {
    margin-top: 20px;
    border: solid 1px #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: medium;
    width: 30%;
    height: 10%;
    cursor: pointer;
}

.sum_sub:hover {
    transform: scale(1.1);
}

.sum_op_box {
    width: 95%;
    height: 95%;
    border: solid 1px #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: transparent;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.sum_op_box::-webkit-scrollbar {
    width: 5px; /* Thin scrollbar */
}

.sum_op_box::-webkit-scrollbar-track {
    background: transparent;
}

.sum_op_box::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    cursor:default;
}

.sum_op_box::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}

.sum_op_box h2 {
    margin-left: 2%;
    text-align: left;
}

.sum_op_box h3 {
    margin-left: 4%;
    text-align: left;
}

.sum_op_box p {
    margin-left: 8%;
    text-align: left;
}

.sum_op_box ul, .sum_op_box ol {
    margin-left: 8%;
}

.sum_spin {
    width: 95%;
    height: 95%;
    border: solid 1px #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}